{% if courseCreationError %}
    <script>
        toastr.options.timeOut = 0;
        toastr.error('{{ courseCreationError }}');
    </script>
{% endif %}
<div style="width:50%; margin: auto; padding-bottom: 60px;" class="collapse" id="courseForm">
    <form action="/course" method="post">
        <input id="courseId" value="{{ course.id }}" type="hidden" name="id">
        <input id="username" value="{{ username }}" type="hidden" name="username">
        <input id="instructorId" value="{{ course.instructor.id }}" type="hidden" name="instructor.id">

        <div class="md-form">
            <input id="course-grid-id" name="courseGridReuseID" value="" type="number" style="display:none;">
        </div>

        <div class="md-form">
            <input id="courseName" type="text" name="name" class="form-control" id="courseFormName" {% if courseCreationError %}value="{{ courseName }}" {% else %} value="{{ course.name }}" {% endif %}>
            <label for="courseName">Name</label>
        </div>
        <div class="md-form">

            <input id="courseSection"  type="text" name="section" class="form-control" {% if courseCreationError %}value="{{ sectionName }}" {% else %} value="{{ course.section }}" {% endif %}>
            <label for="courseSection">Section</label>
        </div>
        <div class="md-form">
            <input  id="startDate" name="startDate" type="text" class="form-control datepicker" {% if courseCreationError %}value="{{ startDate }}" {% else %} value="{{ course.startDate }}" {% endif %}>
            <label for="startDate">Start Date</label>
        </div>
        <div class="md-form">
            <input id="courseRows"  name="rows" type="number" class="form-control" {% if courseCreationError %}value="{{ rowsAmount }}" {% else %} value="{{ course.rows }}" {% endif %}>
            <label for="courseRows">Rows</label>
        </div>
        <div class="md-form">
            <input id="courseCols" name="cols" type="number" class="form-control" {% if courseCreationError %}value="{{ colsAmount }}" {% else %} value="{{ course.cols }}"  {% endif %}>
            <label for="courseCols">Columns</label>
        </div>

        {% if (course.id) %}
            <button type="button" data-target="#courseForm" class="btn btn-blue-grey" data-toggle="collapse"
                    aria-expanded="false" aria-controls="courseForm">Cancel
            </button>
            <input type="submit" class="btn btn-primary" value="Submit" class="form-control">
            <div style="float:right">
                <button id="deleteButton" type="button" disabled="true" class="btn btn-blue-grey" style="margin-bottom:5px">
                    Delete
                </button>
                <div>
                    <input id="confirmDelete" type="checkbox">
                    <label for="confirmDelete">Check to confirm delete</label>
                </div>
            </div>
        {% else %}
            <div style="display:inline-block;width: 100%;">
                <button type="button" class="btn btn-primary" id="reuse-grid-button">Use Seat Grid From Other Course</button>
                <button type="submit" class="btn btn-primary" class="form-control" id="course-form-submit">Submit</button>
                <button type="button" class="btn btn-blue-grey" id="course-form-collapse-button"
                        aria-expanded="false" aria-controls="courseForm">Cancel
                </button>
            </div>
        {% endif %}
    </form>
</div>
<!-- Modal for Searching for a Course Grid -->
<div class="modal fade" id="search-course-grid-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="heading lead">Use Seat Grid From Other Course</p>
                <button type="button" id="search-course-grid-modal-close-top" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                    <p>By choosing a course, the seat template will be reused in the course being created. The grid dimensions
                        and seat states will be imported.</p>
                </div>
                <div class="md-form">
                    <input type="text" id="search-course-field" class="form-control">
                    <label for="search-course-field" class="">Search Course</label>
                </div>
                <div id="course-list-queried">
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <a type="button" id="search-course-grid-modal-submit-bottom" class="btn btn-primary-modal">Submit<i class="fa fa-diamond ml-1"></i></a>
                <a type="button" id="search-course-grid-modal-close-bottom" class="btn btn-outline-secondary-modal waves-effect" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>
