{% extends 'dashboard.twig' %}

{% block style %}
    {{ parent() }}
    <link href="/static/css/course.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="course-editor-body">

        <h1 style="display:inline">{{ course.name }}</h1>
        {%  if  user.hasExtendedPrivileges %}
            <a data-toggle="collapse" href="#courseForm" aria-expanded="false" aria-controls="courseForm">
                <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/1314-200.png" style="width:23px;height:23px; margin-bottom:24px">
            </a>
            {% include '/templates/courseFormView.twig' with {course: course}%}
        {% endif %}
        <div class="course-editor-grid">
            <div id="course-seating-grid"></div>
        </div>
        <div class="course-editor-controls">
            <button id="editsave" type="button" class="btn btn-primary">Edit</button>
        </div>

    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript" src="/static/js/grid.js"></script>
    <script>
        $(document).ready(function () {
            var grid;
            $.ajax({
                type: "get",
                url: "/courses/{{ course.id }}",
                dataType: "json",
                success: function (data, status) {
                    grid = new Grid({
                        rows: data.rows,
                        cols: data.cols,
                        seats: data.seats,
                        states: ["open", "closed", "reserved"]
                    });
                    $('#course-seating-grid').append(grid.el);
                },
                error: function (data, status) {
                    console.log(data);
                }
            });

            $('#editsave').on('click', function (e) {
                if (grid.editable) {
                    grid.editable = false;
                    $('#editsave').html('Edit');
                    var seats = grid.getSeats();
                    console.log(seats);
                    $.ajax({
                        type: "post",
                        url: "/courses/{{ course.id }}/seats",
                        data: JSON.stringify(seats),
                        contentType: "application/json",
                        error: function (data, status) {
                            console.log(data);
                        }
                    });

                } else {
                    grid.editable = true;
                    $('#editsave').html('Save');
                }
            });
        });

    </script>
{% endblock %}

