{% if courseCreationError %}
    <script>
        toastr.options.timeOut = 0;
        toastr.error('{{ courseCreationError }}');
    </script>
{% endif %}

<div style="width:50%; margin: auto; padding-bottom: 60px;" class="{% if not courseCreationError %}collapse{% endif %}" id="courseForm">
    <form action="/course" method="post">
        <div class="md-form">
            <input placeholder="Course Name" type="text" name="name" class="form-control" id="courseFormName"{% if courseCreationError %}value="{{ courseName }}"{% endif %}>
        </div>

        <div class="md-form">
            <input placeholder="Section" type="text" name="section" class="form-control" {% if courseCreationError %}value="{{ sectionName }}"{% endif %}>
        </div>

        <div class="md-form">
            <input placeholder="Timeslot" type="text" name="timeSlot" class="form-control timepicker">
        </div>

        <div class="md-form">
            <input placeholder="Start Date" name="startDate" type="text" class="form-control datepicker" >
        </div>

        <div class="md-form">
            <input placeholder="End Date" name="endDate" type="text" class="form-control datepicker" >
        </div>

        <div class="md-form">
            <input placeholder="Rows" name="rows" type="number" class="form-control" {% if courseCreationError %}value="{{ rowsAmount }}"{% endif %}>
        </div>

        <div class="md-form">
            <input placeholder="Columns" name="cols" type="number" class="form-control" {% if courseCreationError %}value="{{ colsAmount }}"{% endif %}>
        </div>

        <div class="md-form">
            {# the css expects two seperate class descriptions like this for some reason #}
            <button type="button" data-target="#courseForm" class="btn btn-blue-grey" data-toggle="collapse"
                    aria-expanded="false" aria-controls="courseForm">Cancel
            </button>
            <input type="submit" class="btn btn-primary" value="Submit" class="form-control">
        </div>


    </form>
</div>



