<div style="width:50%; margin: auto; padding-bottom: 60px;" class="collapse" id="courseForm">
    <form action="/course" method="post">

        <input value="{{ course.id }}" type="hidden" name="id">

        <input value="{{ course.instructor.id }}" type="hidden" name="instructor.id">

        <div class="md-form">
            <input value="{{ course.name }}" placeholder="Course Name" type="text" name="name" class="form-control" id="courseFormName">
        </div>

        <div class="md-form">
            <input  value="{{ course.section }}" placeholder="Section" type="text" name="section" class="form-control">
        </div>

        <div class="md-form">
            <input  value="{{ course.timeSlot }}" placeholder="Timeslot" type="text" name="timeSlot" class="form-control timepicker">
        </div>

        <div class="md-form">
            <input  value="{{ course.startDate }}" placeholder="Start Date" name="startDate" type="text" class="form-control datepicker">
        </div>

        <div class="md-form">
            <input  value="{{ course.endDate }}" placeholder="End Date" name="endDate" type="text" class="form-control datepicker">
        </div>

        <div class="md-form">
            <input  value="{{ course.rows }}" placeholder="Rows" name="rows" type="number" class="form-control">
        </div>

        <div class="md-form">
            <input  value="{{ course.cols }}" placeholder="Columns" name="cols" type="number" class="form-control">
        </div>

        <div class="md-form">
            {# the css expects two seperate class descriptions like this for some reason #}
            <button type="button" data-target="#courseForm" class="btn btn-blue-grey" data-toggle="collapse"
                    aria-expanded="false" aria-controls="courseForm">Cancel
            </button>
            <input type="submit" class="btn btn-primary" value="Submit" class="form-control">
        </div>


    </form>
</div>



