{% extends 'dashboard.twig' %}

{% block style %}
    {{ parent() }}
    <link href="/static/css/course.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="course-editor-body">
        <div class="course-editor-title">
            <h1>{{ course.name }}</h1>
        </div>
        <div class="course-editor-grid">
            <div id="course-seating-grid"></div>
        </div>
        {% if user.hasExtendedPrivileges %}
            <div class="course-editor-controls">
                <button id="editsave" type="button" class="btn btn-primary">Edit</button>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block modals %}
    {% include 'danger.modal.twig' with {'id': 'remove-modal', 'title': 'Seating', 'message': 'Are you sure you want to remove yourself?', 'buttonId': 'remove-button'} %}
    {% include 'good.modal.twig' with {'id': 'set-modal', 'title': 'Seating', 'message': 'Are you sure you want to choose this seat?', 'buttonId': 'set-button'} %}
{% endblock %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript" src="/static/js/grid.js"></script>
    <script>
        var removeModalId = 'remove-modal';
        var setModalId = 'set-modal';

        var removeButtonId = 'remove-button';
        var setButtonId = 'set-button';

        var user = {
            id: {{ user.id }},
            username: '{{ user.username }}',
            hasExtendedPrivileges: {{ user.hasExtendedPrivileges }}
        };

    	var grid;
        $(document).ready(function () {
            $.ajax({
                type: "get",
                url: "/courses/{{ course.id }}",
                dataType: "json",
                success: function (course, status) {
                	console.log(course);
                    grid = new Grid({
                        rows: course.rows,
                        cols: course.cols,
                        id: course.id,
                        seats: course.seats,
                        {% if user.getHasExtendedPrivileges %}
                        selectable: false,
                        {% else %}
                        selectable: true,
                        {% endif %}
                        states: ["open", "closed", "reserved"] // 0, 1, 2
                    });
                    $('#course-seating-grid').append(grid.el);
                },
                error: function (data, status) {
                    console.log(data);
                }
            });
        });

        {% if user.getHasExtendedPrivileges %}
        $('#editsave').on('click', function (e) {
            if (grid.editable) {
                grid.editable = false;
                $('#editsave').html('Edit');
                var seats = grid.getSeats();
                $.ajax({
                    type: "post",
                    url: "/courses/{{ course.id }}/seats",
                    data: JSON.stringify(seats),
                    contentType: "application/json",
                    error: function (data, status) {
                        console.error(data);
                    }
                });

            } else {
                grid.editable = true;
                $('#editsave').html('Save');
            }
        });
        {% endif %}
    </script>
{% endblock %}

