{% extends 'dashboard.twig' %}

{% block style %}
    {{ parent() }}
    <link href="/static/css/course.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="course-editor-body">
        <div class="course-editor-title">
            <h1>{{ course.name }}</h1>
        </div>
        <div class="course-editor-grid">
            <div id="course-seating-grid"></div>
        </div>
        {% block buttons %}
        {% endblock %}
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript" src="/static/js/grid.js"></script>
    <script>
        var user = {
            id: {{ user.id }},
            username: '{{ user.username }}'
        }
        console.log(user);

    	var grid;

        $(document).ready(function () {
            $.ajax({
                type: "get",
                url: "/courses/{{ course.id }}",
                dataType: "json",
                success: function (course, status) {
                	console.log(course);
                    grid = new Grid({
                        rows: course.rows,
                        cols: course.cols,
                        id: course.id,
                        seats: course.seats,
                        selectable: true,
                        states: ["open", "closed", "reserved"]
                    });
                    $('#course-seating-grid').append(grid.el);
                },
                error: function (data, status) {
                    console.log(data);
                }
            });
        });
    </script>
{% endblock %}

