{% if courseCreationError %}
    <script>
        toastr.options.timeOut = 0;
        toastr.error('{{ courseCreationError }}');
    </script>
{% endif %}

<div style="width:50%; margin: auto; padding-bottom: 60px;" class="{% if not courseCreationError %}collapse{% endif %}" id="courseForm">
    <form action="/course" method="post">


        <input value="{{ course.id }}" type="hidden" name="id">

        <input value="{{ course.instructor.id }}" type="hidden" name="instructor.id">

        <div class="md-form">
            <input placeholder="Course Name" type="text" name="name" class="form-control" id="courseFormName"{% if courseCreationError %}value="{{ courseName }}"{% endif %}>
        </div>

        <div class="md-form">
            <input placeholder="Section" type="text" name="section" class="form-control" {% if courseCreationError %}value="{{ sectionName }}"{% endif %}>
        </div>


        <div class="md-form">
            <input id="courseName" value="{{ course.name }}" type="text" name="name" class="form-control" id="courseFormName">
            <label for="courseName">Name</label>
        </div>

        <div class="md-form">

            <input id="courseSection" value="{{ course.section }}"  type="text" name="section" class="form-control">
            <label for="courseSection">Section</label>
        </div>

        <div class="md-form">
            <input  id="startDate" value="{{ course.startDate }}" name="startDate" type="text" class="form-control datepicker">
            <label for="startDate">Start Date</label>
        </div>

        <div class="md-form">
            <input id="courseRows" value="{{ course.rows }}" name="rows" type="number" class="form-control">
            <label for="courseRows">Rows</label>
        </div>

        <div class="md-form">
            <input id="courseCols" value="{{ course.cols }}" name="cols" type="number" class="form-control">
            <label for="courseCols">Columns</label>

            <input placeholder="Start Date" name="startDate" type="text" class="form-control datepicker" >
        </div>

        <div class="md-form">
            <input placeholder="End Date" name="endDate" type="text" class="form-control datepicker" >
        </div>

        <div class="md-form">
            <input placeholder="Rows" name="rows" type="number" class="form-control" {% if courseCreationError %}value="{{ rowsAmount }}"{% endif %}>
        </div>

        <div class="md-form">
            <input placeholder="Columns" name="cols" type="number" class="form-control" {% if courseCreationError %}value="{{ colsAmount }}"{% endif %}>
        </div>

        <div class="md-form">
            {# the css expects two seperate class descriptions like this for some reason #}
            <button type="button" data-target="#courseForm" class="btn btn-blue-grey" data-toggle="collapse"
                    aria-expanded="false" aria-controls="courseForm">Cancel
            </button>
            <input type="submit" class="btn btn-primary" value="Submit" class="form-control">
            {% if (course.id) %}
                <div style="float:right">
                    <button id="deleteButton" type="button" disabled="true" class="btn btn-blue-grey" style="margin-bottom:0px">
                        Delete
                    </button>
                    <div>
                        <input id="confirmDelete" type="checkbox">
                        <label for="confirmDelete">Check to confirm delete</label>
                    </div>
                </div>
            {% endif %}
        </div>
    </form>

</div>

<script>
    $('#confirmDelete').change(function() {
        $('#deleteButton').attr('disabled',!this.checked);
    });

    $('#deleteButton').click(function() {
        $.ajax({
            type: "post",
            url: "/courses/{{course.id}}/delete",
            contentType: "application/json",
            error: function (data, status) {
                console.error(data);
            },
            success: function (data){
                toastr.success("Course successfully deleted.");
                setTimeout(function(){
                    window.location.replace("/{{ username }}");
                },1600);

            }
        });
    });

    $(document).ready(function () {
        $('.datepicker').pickadate({
            formatSubmit: 'yyyy-mm-dd',
            hiddenName: true
        });
        $('.timepicker').pickatime({
            twelvehour: true
        });

    });


</script>



