{% extends 'base.twig' %}

{% block title %}
    <title>Dashboard - {{ user.username }}</title>
{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="/static/css/dashboard.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark justify-content-between">
        <a href="/{{ user.username }}" class="navbar-brand" style="font-size: 20pt;">Attendance Tracker</a>
        <div class="float-right">
            <img src="https://thumb9.shutterstock.com/display_pic_with_logo/78238/78238,1255878221,16/stock-photo-cyber-woman-with-a-corn-39094327.jpg"
                 class="rounded-circle hoverable" style="width:35px;height:35px;">
            <button class="btn btn-outline-success btn-sm my-0" onclick="location.href='/logout'">Logout</button>
        </div>
    </nav>
    <div class="dashboard-body">
        {% include '/templates/courselist.twig' %}
        {% block content %}
            <div class="welcome-text">
                <h1>Welcome back, {{ user.username }}!</h1>
                {% if user.hasExtendedPrivileges %}
                    <p>Select a course from the course list, or create a course.</p>
                    <button id="createButton" type="button" data-target="#courseForm" class="btn btn-primary"
                            aria-expanded="false" aria-controls="courseForm">Create Course
                    </button>
                    {% include '/templates/courseFormView.twig' %}
                {% else %}
                    <p>Select a course from the course list, or search for a course.</p>
                    <button id="searchButton" type="button" class="btn btn-primary">Search Course</button>
                    <!-- Modal for Searching for a Course Grid -->
                    <div class="modal fade" id="search-course-grid-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-notify modal-info" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <p class="heading lead">Use Seat Grid From Other Course</p>
                                    <button type="button" id="search-course-grid-modal-close-top" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="white-text">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="text-center">
                                        <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                                        <p>By choosing a course, the seat template will be overwritten with the template from the chosen course. The grid dimensions
                                            and seat states will be imported.</p>
                                        <p>Do note that this action cannot be undone. Clicking Submit will overwrite the course seats for this course, and student
                                            ties to seats will be lost.</p>
                                    </div>
                                    <div class="md-form">
                                        <input type="text" id="search-course-field" class="form-control">
                                        <label for="search-course-field" class="">Search Course</label>
                                    </div>
                                    <div id="course-list-queried">
                                    </div>
                                    <input id="course-id" name="course-id" value="" type="hidden">
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <a type="button" id="search-course-grid-modal-submit-bottom" class="btn btn-primary-modal">Submit<i class="fa fa-diamond ml-1"></i></a>
                                    <a type="button" id="search-course-grid-modal-close-bottom" class="btn btn-outline-secondary-modal waves-effect" data-dismiss="modal">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block script %}
    {{ parent() }}
    {% if user.hasExtendedPrivileges %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').pickadate({
                formatSubmit: 'yyyy-mm-dd',
                hiddenName: true
            });
        });
    </script>
    {% endif %}
    <script type="text/javascript" src="/static/js/searchmodal.js"></script>
    <script type="text/javascript" src="/static/js/courseform.js"></script>
    <script type="text/javascript" src="/static/js/dashboard.js"></script>
{% endblock %}

